.produto {
    position: relative;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 35px 20px;
    border-radius: 10px;
    max-width: 220px;

    // .icon {
    //     width: 30px;
    //     height: 30px;
    //     background-color: red;
    // }

    .favorite_container {
        display: flex;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 8px;
        border-radius: 50%;
        background-color: #9a9a9a;

        .favorite_icon {
            color: white;
        }
    }

    .name {
        font-size: 13px;
    }

    .price {
        font-size: 14px;
        font-weight: 700;
    }

    .icons_container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rate {
            display: flex;
            align-items: center;
            gap: 8px;
            color: #EAC223;

            .rate_value {
                font-size: 14px;
            }
        }
    }

    .cart_container {
        display: flex;
        padding: 8px;
        border-radius: 50%;
        background-color: #399CCE;

    }

    // .favorite_icon, .cart_icon {
    // }

    // .favorite_icon {

    // }
}
