.divisao {
    display: flex;

    .sessaoCadastro__form {
        padding: 10px 50px;
        text-align: center;
        background-color: #ffffff;
        .logo {
            width: 70px;
            border-radius: 50%;
        }

        .titulo {
            font-size: 20px;
            font-weight: 400;

            .titulo__endereco {
                color: #3120FF;
                font-style: italic;
            }
        }

    }
    .sessaoImagem {
        width: 100%;
        height: 100vh;
        background: url('https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHRyZWlub3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
        background-repeat: no-repeat;
        background-size: cover;
    }

}