.open_btn {
  background-color: #06c270;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 16px;
  text-transform: capitalize;
}

.form {
  width: 100%;

  &__part1 {
    display: flex;
    gap: 16px;

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }

    &--image {
      border: 1px solid rgb(180, 179, 179);
      border-radius: 5px;
      width: 250px;
      margin: 10px 0;

      @media (max-width: 850px) {
        width: 200px;
      }

      @media (max-width: 700px) {
        width: 150px;
        height: 150px;
      }

      @media (max-width: 500px) {
        width: 100px;
        height: 100px;
      }
    }

    &--text {
      width: calc(100% - 250px);

      @media (max-width: 700px) {
        width: 100%;
      }
    }
  }
}
