@import '/src/styles/brand';

.title {
  color: map-get($map: $colors, $key: text-900);
  font-size: larger;
  margin-bottom: 32px;
  text-transform: capitalize;
}

.pageMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 20px;

  img {
    width: 300px;
  }
}
