@import '/src/styles/brand';

.header {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, -4, 0, 0) 0px 5px 15px;
  justify-content: space-between;
  padding: 20px 30px;
  width: 100%;
  background-color: white;
  // background-color: map-get($map: $colors, $key: gray-100);
  line-height: 1.4;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  &__rightIcons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .buttonCart__returnAPage {
    // border: none;
    // width: 50px;
    // height: 50px;
    text-align: center;
    font-size: 30px;
    color: #000000;
    justify-content: center;
    background: none;
    display: flex;
    position: relative;
    z-index: 1;
    transition: all ease 0.5s;

    &:hover {
      cursor: pointer;
      color: #5f78e7;
    }

    .buttonCart__quantidadeProdutos {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 10px;
    }
  }
  .return_icon {
    font-size: 20px;
    color: #454545;
  }

  .searchbar_and_avatar {
    display: flex;
    align-items: center;
    gap: 30px;
    // .buttonCart__avatar {
    //   height: 50px;
    //   width: 50px;
    // }

    .searchBarContainer {
      width: 100%;
      max-width: 650px;
    }

    .buttonCart {
      border: none;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 40px;
      border-radius: 20px 10px 20px 10px;
      color: #000000;
      justify-content: center;
      display: flex;
      position: relative;
      z-index: 1;
      transition: all ease 0.5s;
      background-color: white;

      &:hover {
        cursor: pointer;
        background-color: #5f78e7;
        color: #fff;
      }

      .buttonCart__quantidadeProdutos {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10px;
      }
    }
  }
}

.drawer {
  img {
    width: 60px;
    height: 60px;
  }
  &__list {
    margin-top: 32px;
    text-align: center;
    li {
      padding: 20px 0;
      color: map-get($map: $colors, $key: text-700);
    }
  }
}
