.steps{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin-bottom: 2rem;
    justify-content: space-between;
    .step{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        p{
            font-size: 10px;
        }
        .icone{
            display: flex;
            color: #FFF;
            background-color: #399CCE;
            margin-bottom:10px;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            font-size: 30px;
            border-radius: 50%;
        }
        .iconeAtivo{
            display: flex;
            color: #FFF;
            background-color: #07B464;
            margin-bottom:10px;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            font-size: 30px;
            border-radius: 50%;

        }
        
    }
    
    
}

