$colors: (
  primary-light: #c3e5f6,
  primary: #399cce,
  primary-dark: #235e7c,
  secondary: #b03da2,
  tertiary-light: #f9d6c6,
  tertiary: #dd9678,
  tertiary-dark: #ad755e,

  error: #cc3a3a,
  warning: #eac223,
  info: #2277ea,
  success-light: #8ce3bd,
  success: #06c270,
  success-dark: #048a50,

  text-1000: #000,
  text-900: #363638,
  text-800: #464646,
  text-700: #5c5c5c,
  text-600: #777777,
  text-500: #858585,
  text-400: #9b9b9b,
);
