.radio {
  @media (max-width: 1150px) {
    display: none;
  }
}

.payment {
  display: block !important;
  padding: 0 1rem;
  height: min-content !important;
  padding-bottom: 1rem;

  &__label {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
  }

  h4 {
    padding: 10px 0;
  }

  .terms {
    padding: 10px 0;
  }

  &__resumeList {
    li {
      font-size: 14px;
      padding: 10px 0;
      border-top: 1px solid rgb(221, 221, 221);
    }
  }

  &__types {
    width: min-content !important;
  }
}

.overlay {
  border-top: 2px solid black;
  padding-bottom: 2rem;

  @media (max-width: 1150px) {
    display: block;
  }
}
