.product {
  td {
    padding: 10px 40px 10px 10px !important;
    vertical-align: middle;

    @media (max-width: 880px) {
      padding: 10px 20px 10px 10px !important;
    }

    &.td__img {
      padding-right: 10px !important;

      img {
        max-width: 75px;
        max-height: 75px;
      }
    }

    .cardItem__cor {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }

    &.td__amount,
    &.td__price {
      @media (max-width: 560px) {
        display: none;
      }
    }

    .deleteIcon {
      cursor: pointer;
      font-size: 16px;
      transition: color 90ms ease-in ;
      &:hover{
        color: red;
      }
    }
  }
}