@import '../../styles/Breakpoints.scss';


.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://s3-alpha-sig.figma.com/img/5460/7915/e96396edaebb36ace9c80fea99697862?Expires=1679875200&Signature=ZdroygeNoo-DbVsjRqw5V9IEqNzgJMSSU9uokhuvluw6KUVWmlHuZGp6hbMx4w8Tpfvm41SK-PVuoutIvloN-NBI86H1DLxZUZhRR7PQhxOnPUhRBiwo-sjI3ijbNGmIAplFBydzxBN7XaTRghYHCqZm-ce3o3kmfLHVxPZE8VelM3tYTxxU80f-e5P88FoJKcwTxG9ywnfwl8wuS~Yzja-tMrnXnoT4tWAtMHlZlMp8aLB7nl9aSBrVn~LhcJBq9wVb6Rd-hQlb2n7slK1uJ9BWxq0Hvecjji8zl2cSpLBuaM8vNR2cjpo1IBqHZxCo9e3Gxpu1vClu-pl62eLNyQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  .register {
    width: 100%;
    max-width: map-get($breakpoints, 'desktop');
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 3rem;
    margin: 2em 0;

    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    background-color: #fff ;
    .register__header {
      display: flex;
      align-items: center;
      padding: 2rem 0rem 0;

      @include for-tablet-landscape {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      .register__title {
        font-size: 20px;
        font-weight: 400;
        span {
          color: #3120ff;
        }
      }

      .register__logo {
        width: 70px;
        border-radius: 50%;
      }
    }

    .register__forms {
      padding: 3rem 3rem 3rem 0;

      @include for-tablet-landscape {
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 3rem;
      }
    }

    .register__image {
      grid-row-start: 1;
      grid-row-end: 3;
      background: url('https://cdn.discordapp.com/attachments/924735221855834154/1076033682067963964/cross-fit-for-gym-motivation-0ra2euytul519v1i.jpg');
      background-size: 100%;
      background-repeat: no-repeat;

      @include for-tablet-landscape {
        display: none;
      }
    }
  }
}
