@import '../../styles/Breakpoints.scss';


.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://s3-alpha-sig.figma.com/img/65c8/da92/b81298a9098c1c5e1f7d18ac4618ca46?Expires=1679875200&Signature=euy88NXb3bYnGDyU54vKLJqGyyHR9p8RznwLxa6tAKlh0NH6NwkT4VG153XMD0N0FWrR1fkihHfuUalSA~O1gIY33VcooSrdAN3izAirnp4sExUVaC4p2axFaPU-xiPdIlh2-1K3keaE4u~F2q0TBiOaH4Q5chuWomMbi6-aSkaOQA-z2WW96ux3cyZCFADzpkagsJBnw5wl95R8YZCKlq9CJWEkaJNd~iv1WKA9MTkIsSd0BpLWenqS65LWcGaVZd0CPmei~GQnyWwBZgGkt5RFNxj4AYfN4oT8rtLDIikWkvX5DmhJK-8fzahEDniEeaHkez2czxLizo8tyF6BUg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  .register {
    z-index: 10;
    width: 100%;
    margin: 2em 0;
    max-width: map-get($breakpoints, 'desktop');
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 3rem;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    background-color: #fff ;
    background-repeat: no-repeat;

    .register__header {
      display: flex;
      align-items: center;
      padding: 2rem 0rem 0;

      @include for-tablet-landscape {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      .register__title {
        font-size: 20px;
        font-weight: 400;
        span {
          color: #ff2020;
        }
      }

      .register__logo {
        width: 70px;
        border-radius: 50%;
      }
    }

    .register__forms {
      padding: 3rem 3rem 3rem 0;

      @include for-tablet-landscape {
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 3rem;
      }
    }

    .register__image {
      grid-row-start: 1;
      grid-row-end: 3;
      background: url('../../../public/images/imgformempresa.png');
      background-size: 100%;
      background-repeat: no-repeat;
      
      @include for-tablet-landscape {
        display: none;
      }
    }
  }
}
