@import '/src/styles/brand';

.layout {
  display: flex;
  background-color: map-get($map: $colors, $key: gray-100);
  min-height: calc(100vh - 210px);

  &__content {
    margin-left: 84px;
    width: 100%;

    @media (max-width: 850px) {
      margin-left: 0;
    }

    &--menu {
      padding-left: 16px;
    }

    &--children {
      padding: 0px 40px 100px;

      @media (max-width: 850px) {
        padding: 0px 20px 100px;
      }
    }
  }
}
