.cardBody {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .cardHeader {
        width: 350px;

        .cardHeader__img {
            width: 350px;
            border-radius: 10px 10px 0 0;
        }
        .cardHeader__description{
            p{
                
            }

        }
    }
}